@import "variables";

:root {
    --rem: 16px;
}

.contact-wrapper {
    .main-content {
        padding: 7vw 0 0;

        .container {
            display: flex;
            padding: 1em;
            justify-content: space-between;
            &>* {
                margin-right: 3em;
            }

            &> :last-child {
                margin-right: 0;
            }

            .info {
                flex-basis: 472px;

                h1 {
                    font-size: 1.9em;
                    color: $green;
                    padding-top: 0;
                    padding-bottom: 1em;
                    line-height: 1.7em;
                    font-family: Poppins-regular, sans-serif;

                    a {
                        color: $dark-green;
                        text-decoration:underline;
                    }
                }

                article {
                    display: flex;
                    align-items: center;
                    padding: 1.7em 0 1.7em;
                    border-bottom: 1px solid $gray;

                    img {
                        width: 75px;
                        padding-right: 1.8em;
                    }

                    &>div {
                        p {
                            color: $gray;
                            font-size: 1.4em;
                        }

                        &>div {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            a {
                                color: $green;
                                text-decoration: none;
                                font-size: 1.2em;
                            }
                        }

                        &>* {
                            padding-bottom: 0.75em;
                        }

                        &> :last-child {
                            padding-bottom: 0;
                        }
                    }
                }
            }

            form {
                flex-basis: 50%;

                input,
                textarea {
                    display: block;
                    width: 100%;
                    padding: 0.7em;
                    border: 1px solid $gray;
                    border-radius: 8px;
                    margin-bottom: 1.6em;
                    font-size: 1em;
                    font-family: inherit;
                }

                button{
                    padding: 1em 2em;
                    background-color: $green;
                    color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.2em;
                    width: 100%;
                    border-radius: 50px;
                    cursor: pointer;
                    border: none;
                    img{
                        width: 20px;
                        margin-left: 20px;
                    }
                }

                // & > *:not(:last-chils) {
                //     margin-bottom: 1em;
                // }
            }
        }
    }
    .img-content{
        background-image: url('../images/contact-us-bg.png');
        background-size: cover;
        position: relative;
        height: 50vw;
        margin-top: -6vw;
        img{
            position: absolute;
            width: 33vw ;
            left: 50%;
            transform: translate(-50%);
            bottom: 15%;
        }
    }
}

@media screen and (max-width: 850px){
    .contact-wrapper {
        .main-content {
            padding: 40px 0;
            .container{
                flex-direction: column;
                font-size: 14px;
                &>* {
                    margin-right: 0;
                    margin-bottom: 3em;
                }
            }
        }
    }
}

@media screen and (max-width: 425px){
    .main-wrapper{
        .heading-section{
            font-size: 1em;
            padding: 2.5em 1em;
            background-image: url(../images/about-bg.png);
            background-color: #32cd32;
            background-size: cover;
            text-align: center;
            margin-top: 20%;
        }
    }
    .contact-wrapper {
        .main-content{
            .container{
                padding: 0;
                font-size: 13px;
            }
        }
        .img-content{
            margin-top: -17vw;
        }
    }
}

@media screen and (max-width: 350px){
    .contact-wrapper {
        .main-content{
            .container{
                padding: 0;
                font-size: 11.5px;
            }
        }
    }
}
