.contact-section{
    background-color: #32cd32;
    padding: 100px 0 0;
    text-align: center;
    .contact-wrapper{
        .paragraph3{
            padding: 28px 0 48px;
        }
        .contact-list {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
            li{
                background-color: #ffffff;
                padding: 60px 15px 50px;
                border-right: 1px solid #eaeaea;
                &:last-child{
                    border-right: none;
                }
                .heading2 {
                    margin: 22px 0;
                }
            }
        }
    }
}
