* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 1170px;
}

h1 {
    font-family: myriad-pro, sans-serif;
}

button, input, textarea {
    outline: none;
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

.benz-btn {
    border: none;
    border-radius: 26px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 174px;
    padding: 12px 0;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
}

::-webkit-scrollbar-thumb {
    background-color: #004700;
    width: 120%;
    height: 52px;
}

.admin-body {
  background: url(../images/login-bg.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: center;
  align-items: center;
        .admin-container {
          display: grid;
            grid-template-columns: 14.6% max-content max-content;
          border-radius: 15px;
            .bubble-design{
                position: relative;
                top: 15%;
                left: -216px;
                width: 180px;
                height: 170px;
            }
            .cross{
                position: relative;
                background-color: #ffffff;
                border-radius: 50%;
                bottom: 60px;
                width: 50px;
              right: 29px;
                height: 50px;
                display: grid;
                justify-content: center;
                font-weight: bold;
                align-items: center;
                cursor: pointer;
            }
        }
}








.row{
    display: grid;
    grid-gap: 27px;
    grid-template-columns: max-content 1fr;
    height: 43px;
}
.row2{
    grid-template-columns: 1fr max-content;
}
.row4{
    grid-template-columns: auto;
}
.col{

    border-radius: 32px;
}
.col1{
    width: 54px;
    background: white;
}
.col2{
    background: white;
}
.col3{

}
.col4{
    width: 140px;
    background: #32cd32;
    margin-left: 15px;
}
.col5{
    width: 20px;
}
.col6{
    background: white;
}
.col7{

}
.col8{
    background-color: #32cd32;
}
