.header {
    display: grid;
    grid-template-columns: max-content 1fr;
    .nav-content{
        background-size: calc(100% - 0%) 35%;
        background-image: url(../images/bg.png);
        background-repeat: no-repeat;
    }
    .responsive-nav {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.85);
        width: 100vw;
        height: 100vh;
        z-index: 1111111;
        .cross {
            width: 30px;
            height: 30px;
            background-image: url("../images/cross.svg");
            background-size: 30px;
            position: fixed;
            z-index: 111111;
            top: 20px;
            right: 30px;
            cursor: pointer;
        }

        & > nav {
            margin: 70px 0 0;
            ul {
                li {
                    text-align: center;
                    display: block;
                    padding: 15px;
                    color: black;
                    cursor: pointer;
                }

                li {
                    a{
                        .active{
                            color: #3ccf3c;
                        }
                    }
                }

                li {
                    a{
                        :hover{
                            color: #3ccf3c;
                        }
                    }
                }
            }
        }
    }
    .responsive-nav.active {
        display: grid;
    }
    .brand-logo {
        padding: 60px 60px 0 0;
        .brand-text {
            margin-top: 0;
            font-weight: 500;
        }
    }

    .bars{
        display: none;
        width: 30px;
        height: 30px;
        background-image: url("../images/bars.png");
        background-size: 30px;
        background-position: center;
        position: absolute;
        bottom: -25px;
        right: 42px;
        cursor: pointer;
        background-repeat: no-repeat;

    }

    .container-nav {

        .nav-links {
            padding: 14px 0 14px 40px;
            display: grid;
            grid-template-columns: max-content 1fr;
            grid-column-gap: 1.2em;

            .admin-login {
                color: #ffffff;

                .signOut-btn {
                    display: inline;
                }

                li {
                    border-right: 1px solid white;
                    font-size: 13px;
                    padding: 0 18px;

                    &:last-child {
                        border-right: none;
                    }

                    a {
                        color: white;

                        &:hover {
                            color: #004700;
                        }
                    }
                }

                span {
                    color: #004700;
                }
            }

            .login-apis {
                margin: 0 0 0 auto;
                li {
                    border-radius: 50%;

                    a {
                        color: white;
                        background: #004700;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .nav-list {
            display: grid;
            grid-template-columns: max-content 1fr;
            padding: 14px 0 14px 40px;
            font-size: 15px;
            grid-column-gap: 1.2em;
            line-height: 50px;

            .options {

                li {
                    padding: 0 14px;

                    a {
                        color: #7a7a7a;

                        &:hover {
                            color: #32cd32;
                        }
                    }
                }
            }

            .search-checkout {
                margin: 0 0 0 auto;
                li {
                    padding: 0 4px 0 3px;
                    a{
                        position: relative;
                        .cart-bubble{
                            position: absolute;
                            right: 0;
                            bottom: 15px;
                            background-color: #004700;
                            border-radius: 50%;
                            width: 15px;
                            height: 15px;
                            color: red;
                            font-size: 12px;
                            span{
                                bottom: 17px;
                                left: 4px;
                                position: relative;
                                color: #ffffff;
                            }
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .header {
        .brand-logo {
            padding: 60px 30px 0 60px;
        }
        .nav-content {
            background-size: calc(100% - 0%) 28% !important;
            background-image: url(../images/bg.png);
            background-repeat: no-repeat;
        }
        .container-nav {
            .nav-links {
                padding: 10px 0 10px 40px;
                display: grid;
                grid-template-columns: max-content 1fr;
                grid-column-gap: 1.2em;

                .admin-login {
                    li {
                        font-size: 10px;
                        padding: 0 9px;
                    }
                }

                .login-apis {
                    margin: 0 auto !important;
                    li {
                        a {
                            width: 25px !important;
                            height: 25px !important;
                        }
                    }
                }
            }
            .nav-list {
                display: grid;
                grid-template-columns: max-content 1fr;
                grid-template-rows: max-content;
                padding: 0px 0 0px 40px !important;
                font-size: 10px !important;
                grid-column-gap: 1.2em;
                line-height: 50px;
                .search-checkout {
                    margin: 0 auto;
                    padding: 5px 0 0;;
                }
                .options{
                    li {
                        padding: 0px 10px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px){
    .header{
        .nav-content {
            background-size: calc(100% - 0%) 35% !important;
            background-image: url(../images/bg.png);
            background-repeat: no-repeat;
        }
        .brand-logo {
            padding: 60px 30px 0 20px;
        }
    }
}

@media screen and (max-width: 900px){
    .header{
        .brand-logo {
            padding: 60px 5px 0 20px;
        }
    }
}

@media screen and (max-width: 765px){
    .header{
        .container-nav{
            .nav-links {
                padding: 10px 0 10px 0px;
                margin-left: -60px;
            }
            .nav-list{
                .options{
                    display:none;
                }
            }
        }
    }
    .header .container-nav .nav-list {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content;
        padding: 0px 0 0px 40px !important;
        font-size: 10px !important;
        grid-column-gap: 1.2em;
        line-height: 50px;
    }
    .header .container-nav .nav-links .login-apis {
        margin: 0 20px 0 auto !important;
    }
    .header .container-nav .nav-list .search-checkout {
        margin: 5px 60px 0 0;
        grid-column: 3;
    }
    .header .container-nav .nav-list {
        font-size: 10px !important;
    }
    .header .bars{
        display:block;
        right: 20px;
        top: 60px;
    }
}

@media screen and (max-width: 670px){
    .header .bars {
        top: 85px;
    }
    .header .container-nav .nav-links .login-apis {
        margin: 0 5px 0 auto !important;
    }
    .header .container-nav .nav-links {
        grid-template-columns: 8fr 2fr;
        grid-gap: 0px;
        margin-left: -90px;
    }
    .header .brand-logo {
        padding: 80px 5px 0 20px;
    }
}



@media screen and (max-width: 450px){
    .header {
        padding: 0 12px;
        background-size: 100vw 65%;
        .bars{
            right: 25px;
        }
        .brand-logo{
            padding: 75px 0 0 15px;
            .brand-img {
                left: 18% !important;
            }
        }
        .container-nav {
            .nav-links{
                .admin-login {
                    li{
                        font-size: 9px;
                        padding: 0px 3px;
                    }
                }
            }
        }
    }
}
