.home{
    .home-container{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10%;
        .servicesRepair-wrapper{
            .heading{
                color:#004700;
                font-size: 50px;
                line-height: 55px;
                padding: 45px 0 0;
            }
            .paragraph{
                line-height: 32px;
                font-size: 18px;
                color:#6c677c;
            }
        }
        .form-services{
            .services-form-list{
                ul{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    li{
                        justify-content: center;
                        align-items: center;
                        display: grid;
                        border: 1px solid #8080806e;
                        padding: 5px;
                        margin-left: 7px;
                        cursor:pointer;
                        box-shadow: 1px 10px 3px 1px rgba(0, 0, 0, 0.1);
                        &:nth-child(1){
                            margin-left: 0;
                        }
                        &:hover{
                            border:1px solid #32cd32;
                        }
                    }
                }
            }
            .services-form{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 6px;
                justify-content: center;
                padding: 45px 50px 60px;
                border-radius: 6px;
                background-color: rgb(255, 255, 255);
                box-shadow: 0 14px 6px 2px rgba(68, 65, 71, 0.05);
                .row {
                    grid-column: 1/3;
                }
                .labels {
                    line-height: 2.8;
                    color: #6c677c;
                    font-size: 15px;
                }
                .form-btn {
                    margin: 28px 0 0;
                    .benz-btn{
                        height: 60px;
                        border-radius: 30px;
                        background-color: #cfcfcf;
                    }
                }
            }
        }
    }
}
