.schedule{
    background: url('../images/schedule-img.png') no-repeat;
    background-size: cover;
    padding: 140px 0 220px;
    text-align: center;
    .schedule-wrapper{
        .heading3{
            color:#ffffff;
            font-size: 40px;
            line-height: 50px;
        }
        .paragraph3{
            line-height: 32px;
            font-size: 18px;
            color: #ffffff;
        }
        .schedule-list {
            margin: 60px 0 0;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
            li{
                border-right: 1px solid #ffffff;
                .heading4{
                    color:#ffffff;
                    font-size: 23px;
                    line-height: 28px;
                }
                .paragraph4{
                    line-height: 28px;
                    font-size: 15px;
                    color: #ffffff;
                }
                &:last-child{
                    border-right: none;
                }
            }
        }
    }
}
