$green: #32cd32;
$dark-green: #004700;
$white: #ffffff;
$gray: #787878;
$medium-gray: #e0e8df;
$dark-gray: #706f72;
$light-gray: #f5f5f6;
$light-black: #474747;

//transition
$transition: all 0.25s ease-out;
